# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3
*.env
.venv/
env/
*.egg-info/

# Node
frontend/node_modules/
frontend/dist/
frontend/public/output/

# Output CSV
output/*
!output/.gitkeep

# VSCode
.vscode/
